<div class="popup" id="popup-success">
        <div class="popup__content">
            <div class="popup__center">
                <a href="#section-book" class="popup__close">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">CONGRATULATIONS</h2>
                <h3 class="heading-tertiary u-margin-bottom-small">You have successfully booked your Natour :)</h3>
                <p>
                   Someone from our staff will contact you shortly with further instructions.
                </p>
            </div>
        </div>
    </div>