<div class="popup" id="privacy-popup">
    <div class="popup__content">
        <div class="popup__right">
            <a href="#footer" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">PRIVACY</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Importand &ndash; Please read these terms before booking</h3>
            <p class="popup__text-normal">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
            </p>
        </div>
    </div>
</div>