<div class="container">
  <div class="header clearfix">
    <!-- Navbar -->
    <nav style="width:1200px">
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink=''>
            <input type="button" class="btn btn-primary" value="HOME">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>
            <input type="button" class="btn btn-primary" value="USERS">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='agreements'>
            <input type="button" class="btn btn-primary" value="AGREEMENTS">
          </a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">TEST-PROJECT</h3>
  </div>
</div>
