<div class="popup" id="stories-popup">
        <div class="popup__content">
            <div class="popup__right">
                <a href="#section-about" class="popup__close">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">STORIES</h2>
                <h3 class="heading-tertiary u-margin-bottom-small">Couple of stories</h3>
                <p class="popup__text-four-col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                    Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                    Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                    Quisquam doloremque ullam provident exercitationem unde vero soluta! Quisquam doloremque ullam provident.
                </p>
                <a href="#section-book" class="btn btn--green">Book now</a>
            </div>
        </div>
    </div>