<section class="section-stories">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="assets/img/video.mp4" type="video/mp4">
            <source src="assets/img/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>
    <div class="u-center-text u-margin-bottom-big" id="section-stories">
        <h2 class="heading-secondary">
            We make people genuanly happy
        </h2>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="assets/img/nat-8.jpg" alt="Person on a tour" class="story__image">
                <figcaption class="story__caption">Mary Smith</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    I had the best time ever with my family
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                    Quisquam doloremque ullam provident exercitationem unde vero soluta!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="assets/img/nat-9.jpg" alt="Person on a tour" class="story__image">
                <figcaption class="story__caption">Jack Wilson</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    WOW! My life is completly different now.
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque ullam provident exercitationem unde vero soluta!
                    Quisquam doloremque ullam provident exercitationem unde vero soluta!
                </p>
            </div>
        </div>
    </div>
    <div class="u-center-text u-margin-top-huge">
        <a href="#stories-popup" class="btn-text">Read all stories &rarr;</a>
    </div>
</section>