<nat-navigation></nat-navigation>
<nat-header></nat-header>
<main>
    <nat-about></nat-about>
    <nat-features></nat-features>
    <nat-tours></nat-tours>
    <nat-stories></nat-stories>
    <nat-book></nat-book>
</main>
<nat-footer></nat-footer>
<nat-popup></nat-popup>

<nat-stories-popup></nat-stories-popup>
<nat-booking-popup></nat-booking-popup>

<nat-company-popup></nat-company-popup>
<nat-contact-popup></nat-contact-popup>
<nat-carriers-popup></nat-carriers-popup>
<nat-privacy-popup></nat-privacy-popup>
<nat-terms-popup></nat-terms-popup>

<nat-success-popup></nat-success-popup>
