.footer {
    background-color: $color-gray-dark-3;  
    color: $color-gray-light-1;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include responsive(tab-port) {
        padding: 8rem 0;
    }
    
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include responsive(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: .1rem solid $color-gray-dark-2;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: inherit;
            background-color: $color-gray-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: $shadow-btn-small;
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: .1rem solid $color-gray-dark-2;
        padding-top: 2rem;
        display: inline-block;
        width: 80%;
        float: right;

        @include responsive(tab-port) {
            width: 100%;
            float: none;
        }
    }
}